// Main sass file
/**
 * Notes:
 * - All rules must be classes
 * - All sizes must just be numbers (i.e. 10 not 10px)
 */

// Vars
$actionButtonSize: 30;
$actionDailyChallenge: #4caf50;
$actionWheel: #0277bd;
$actionSettings: #ffa000;
$actionShop: #f44336;

.container {
  flex: 1;
  background-color: #212121;
 }

.background-image {
  flex: 1;
  resize-mode: cover;
}

.title {
  color: #fff;
  font-size: 40;
  font-family: DesignerBlock;
  text-align: center;
  margin: 12;
 }

.actionButtons {
  flex: 2;
  flex-direction: row;
  margin-top: 5;
  padding-left: 3;
}

.actionButtonLine {
  background-color: #fff;
  height: 2;
  width: 18;
  margin: 10.5;
}

%actionButton {
  height: $actionButtonSize;
  width: $actionButtonSize;
  margin: 10;
  margin-top: -4;
  align-items: center;
  flex: 1;
  padding-top: 3;
  padding-right: 1;
}

.actionButtonDailyChallenge {
  @extend %actionButton;
  background-color: $actionDailyChallenge;
  // Custom styles
  padding-top: 2.99;
  padding-right: 0.2;
}

.actionButtonWheel {
  @extend %actionButton;
  background-color: $actionWheel;
  // Custom styles
  padding-right: 0.3;
}

.actionButtonShop {
  @extend %actionButton;
  background-color: $actionShop;
  // Custom styles
  padding-right: 3;
}

.actionButtonSettings {
  @extend %actionButton;
  background-color: $actionSettings;
}

.playContainer {
  flex: 3;
  align-items: center;
  margin-top: 85;
}

.playSquare {
  border-style: solid;
  border-width: 1;
  border-color: #8d6e63;
  height: 160;
  width: 160;
  align-items: center;
  padding-top: 13;
  padding-left: 4.5;
}

.playIcon {
  margin-top: -135;
  margin-left: 8;
}

.gameModes {
  flex: 4;
  align-items: center;
  margin-top: 140;
}

.gameModesText {
  font-size: 30;
  color: #fff;
  background-color: #d84315;
  padding: 10 50;
}
